<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fbd876">  <td>19/02/04 21:06:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginAddProduct.BeginTest()[pri:0, instance:FlipkartNative.Tests.LoginAddProduct@6093dd95]">BeginTest</td> 
  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/02/04 21:05:43</td>   <td>-23398</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.SetUp()[pri:0, instance:FlipkartNative.Tests.LoginAddProduct@6093dd95]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/02/04 21:06:58</td>   <td>50821</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.TearDown()[pri:0, instance:FlipkartNative.Tests.LoginAddProduct@6093dd95]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
</table>
